@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900|Montserrat:300,400,500,600,700,800,900");
body,
html {
  margin: 0;
  padding: 0; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 30px 0; }
    header nav ul li {
      display: inline-block;
      padding: 20px 10px; }
      header nav ul li a {
        font: 400 15px 'Heebo', sans-serif;
        color: #fff;
        text-decoration: none;
        position: relative; }
        header nav ul li a:after {
          content: '';
          width: 0;
          height: 1px;
          background: #fff;
          position: absolute;
          left: 0;
          bottom: -3px;
          -webkit-transition: all 0.3s;
          /* Safari */
          transition: all 0.3s; }
        header nav ul li a:hover {
          color: #fff;
          text-decoration: none; }
          header nav ul li a:hover:after {
            width: 100%;
            -webkit-transition: all 0.3s;
            /* Safari */
            transition: all 0.3s; }

main {
  min-height: 100vh; }
  main section.hero {
    background-image: url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 50px;
    min-height: 100vh; }
    main section.hero .title {
      color: #fff; }
      main section.hero .title img.svg {
        width: 50px;
        fill: #fff; }
      main section.hero .title p.sub-title {
        font: 600 22px 'Montserrat', sans-serif;
        letter-spacing: 3px;
        margin: 20px 0 10px;
        color: #fff;
        text-transform: uppercase; }
      main section.hero .title h1 {
        position: relative;
        font: 600 72px 'Montserrat', sans-serif;
        display: inline-block;
        padding: 25px 35px;
        letter-spacing: 7px;
        margin: 0;
        color: #fff;
        text-transform: uppercase; }
        main section.hero .title h1:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          background-color: #fff;
          height: 2px; }
        main section.hero .title h1:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          background-color: #fff;
          height: 2px; }
        main section.hero .title h1.ready:after, main section.hero .title h1.ready:before {
          width: 100%;
          -webkit-transition: all 0.4s;
          /* Safari */
          transition: all 0.4s; }
  main section.result h2 {
    font: 22px 'Montserrat', sans-serif;
    color: #000;
    margin-bottom: 30px; }
  main section.result form {
    margin: 30px 0; }
    main section.result form legend {
      font: 22px 'Montserrat', sans-serif;
      color: #000;
      border: none;
      margin: 5px; }
    main section.result form label,
    main section.result form span {
      font: 400 13px 'Heebo', sans-serif;
      color: #b5b5b5;
      margin: 5px; }
    main section.result form input.range-price {
      width: 100%;
      border: none;
      background: none;
      font: 600 22px 'Heebo', sans-serif;
      color: #f98100; }
    main section.result form label.filter-stars {
      display: block;
      position: relative;
      padding-left: 25px; }
      main section.result form label.filter-stars input[type='checkbox'] {
        display: none; }
      main section.result form label.filter-stars input[type='checkbox']:checked ~ .checkmark {
        opacity: 1;
        transition: 0.1s ease; }
      main section.result form label.filter-stars .checkmark {
        opacity: 0;
        position: absolute;
        width: 7px;
        height: 11px;
        border-right: 3px solid #f98100;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(40deg);
        top: 0;
        left: 1px;
        border-radius: 2px;
        border-bottom: 3px solid #f98100; }
      main section.result form label.filter-stars:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #ffbb72;
        border-radius: 2px; }
      main section.result form label.filter-stars img {
        width: 20px;
        margin: 3px; }
    main section.result form .input-group {
      width: 100%;
      border-bottom: 1px solid #e3e3e3;
      padding: 30px 0; }
      main section.result form .input-group:last-child {
        border: none; }
    main section.result form .ui-state-default,
    main section.result form .ui-widget-content .ui-state-default,
    main section.result form .ui-widget-header .ui-state-default {
      border: 4px solid #f88000;
      background-color: #fff;
      background-image: none;
      border-radius: 50%; }
      main section.result form .ui-state-default:active, main section.result form .ui-state-default:focus, main section.result form .ui-state-default:hover,
      main section.result form .ui-widget-content .ui-state-default:active,
      main section.result form .ui-widget-content .ui-state-default:focus,
      main section.result form .ui-widget-content .ui-state-default:hover,
      main section.result form .ui-widget-header .ui-state-default:active,
      main section.result form .ui-widget-header .ui-state-default:focus,
      main section.result form .ui-widget-header .ui-state-default:hover {
        outline: none; }
      main section.result form .ui-state-default:hover,
      main section.result form .ui-widget-content .ui-state-default:hover,
      main section.result form .ui-widget-header .ui-state-default:hover {
        background-color: #f88000; }
    main section.result form .ui-slider-horizontal {
      height: 0.3em;
      vertical-align: middle;
      border: none;
      background-image: none;
      background-color: #b5b5b5;
      margin: 10px 0; }
    main section.result form .ui-slider-horizontal .ui-slider-range {
      background-image: none;
      background-color: #f88000;
      top: 0;
      height: 5px; }
    main section.result form .ui-slider-horizontal .ui-slider-handle {
      top: -.4em; }
  main section.result .list-result .box-item {
    margin-bottom: 60px;
    padding: 40px 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2); }
    main section.result .list-result .box-item .wrapper-img {
      min-width: 100%;
      width: 230px;
      border-radius: 5px;
      box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
      float: right;
      transition: transform .3s,-webkit-transform .3s; }
      main section.result .list-result .box-item .wrapper-img img {
        width: 100%; }
      main section.result .list-result .box-item .wrapper-img:hover {
        transform: scale(1.05); }
    main section.result .list-result .box-item .stars img {
      width: 12px;
      display: inline-block; }
    main section.result .list-result .box-item .hotel-name {
      line-height: 21px; }
      main section.result .list-result .box-item .hotel-name a {
        font: 600 16px 'Heebo', sans-serif;
        color: #f98100;
        text-transform: uppercase;
        text-decoration: none; }
    main section.result .list-result .box-item .description {
      font: 400 15px 'Heebo', sans-serif;
      color: #b5b5b5; }
    main section.result .list-result .box-item .title-sale {
      font: 300 16px 'Heebo', sans-serif;
      color: #b2b0c0;
      margin-bottom: 5px; }
    main section.result .list-result .box-item .value-sale {
      font: 700 30px 'Montserrat', sans-serif;
      color: #79bd1a;
      margin-bottom: 20px; }
    main section.result .list-result .box-item .title-normal {
      font: 300 14px 'Heebo', sans-serif;
      color: #b2b0c0;
      margin-bottom: 5px; }
    main section.result .list-result .box-item .value-normal {
      font: 700 20px 'Montserrat', sans-serif;
      color: #f98100;
      margin-bottom: 20px; }
    main section.result .list-result .box-item button {
      margin: 15px 20px 10px 0; }
    main section.result .list-result .box-item .button-default {
      border: 1px solid #f98100;
      padding: 5px 30px; }
    main section.result .list-result .box-item .button-primary {
      border-width: 1px;
      padding: 5px 30px; }
    main section.result .list-result .box-item .border-right {
      border-right: 1px solid #ccc; }
    main section.result .list-result .box-item .values {
      padding: 40px 0; }

.box-white {
  width: 830px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 60px 100px 30px;
  margin: -150px auto 0;
  float: none;
  box-shadow: -60px -50px 100px -90px #000000, 60px -50px 100px -90px #000000; }
  .box-white .form-search-hotel {
    margin: 50px 0 0; }
    .box-white .form-search-hotel label {
      font: 400 22px 'Heebo', sans-serif;
      color: #555555;
      display: block; }
    .box-white .form-search-hotel input {
      width: 100%;
      font: 400 16px 'Heebo', sans-serif;
      color: #b5b5b5;
      border: none;
      margin-bottom: 40px; }
      .box-white .form-search-hotel input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #b5b5b5; }
      .box-white .form-search-hotel input::-moz-placeholder {
        /* Firefox 19+ */
        color: #b5b5b5; }
      .box-white .form-search-hotel input:-ms-input-placeholder {
        /* IE 10+ */
        color: #b5b5b5; }
      .box-white .form-search-hotel input:-moz-placeholder {
        /* Firefox 18- */
        color: #b5b5b5; }
      .box-white .form-search-hotel input:focus {
        border: none;
        outline: none;
        box-shadow: none; }
    .box-white .form-search-hotel button {
      margin-bottom: 50px; }
    .box-white .form-search-hotel #date-range-container {
      width: 100%;
      border: none;
      background: none; }
      .box-white .form-search-hotel #date-range-container .date-picker-wrapper {
        border: none;
        background: none;
        padding: 0; }
        .box-white .form-search-hotel #date-range-container .date-picker-wrapper .caption {
          height: 60px; }
          .box-white .form-search-hotel #date-range-container .date-picker-wrapper .caption .next:hover,
          .box-white .form-search-hotel #date-range-container .date-picker-wrapper .caption .prev:hover {
            background: transparent;
            color: #79bd1a; }
        .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper {
          border: none; }
          .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table {
            width: 100%;
            float: none;
            margin: 0 auto;
            border-top: 2px solid #e3e3e3; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table th {
              font: 400 15px 'Heebo', sans-serif;
              color: #b5b5b5; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .week-name {
              border-bottom: 2px solid #e3e3e3;
              height: 30px; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .month-name {
              font: 400 16px 'Heebo', sans-serif;
              color: #555; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .day {
              font: 400 15px 'Heebo', sans-serif;
              color: #555;
              padding: 12px 0;
              min-width: 45px;
              box-sizing: content-box; }
              .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .day.checked, .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .day.hovering {
                background-color: #79bd1a;
                color: #fff; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .first-date-selected {
              background-color: #79bd1a !important;
              border-radius: 50% 0 0 50%; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .last-date-selected {
              border: 2px solid #79bd1a !important;
              background-color: #fff !important;
              color: #79bd1a !important;
              border-radius: 50%; }
            .box-white .form-search-hotel #date-range-container .date-picker-wrapper .month-wrapper table .real-today {
              background-color: #fff; }
  .box-white h2 {
    font: 400 22px 'Montserrat', sans-serif;
    color: #000;
    text-align: center; }

footer {
  margin-top: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  font: 400 12px 'Heebo', sans-serif;
  color: #b5b5b5; }
  footer .social-links ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .social-links ul li {
      display: inline-block; }
      footer .social-links ul li img.svg {
        width: 30px;
        margin: 40px 20px; }
        footer .social-links ul li img.svg circle,
        footer .social-links ul li img.svg path {
          fill: #F98100;
          -webkit-transition: all 0.3s;
          /* Safari */
          transition: all 0.3s; }
        footer .social-links ul li img.svg:hover circle,
        footer .social-links ul li img.svg:hover path {
          fill: #555;
          -webkit-transition: all 0.3s;
          /* Safari */
          transition: all 0.3s; }
  footer p {
    margin: 0 0 40px; }

/* geral */
.button-default {
  background-color: #fff;
  border-radius: 50px;
  color: #f98100;
  border: 2px solid #f98100;
  font: 700 15px 'Heebo', sans-serif;
  padding: 10px 40px;
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button-default:hover {
    background-color: #f98100;
    color: #fff;
    outline: none; }

.button-primary {
  background-color: #79bd1a;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #79bd1a;
  font: 700 15px 'Heebo', sans-serif;
  padding: 10px 40px;
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .button-primary:hover {
    background-color: #fff;
    color: #79bd1a;
    outline: none; }

/* FOCO NO TRABALHO DONA HENDY.*/
