@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,800,900|Montserrat:300,400,500,600,700,800,900');

html, body{
  margin: 0;
  padding: 0;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  nav{
    ul{
      list-style: none;
      margin: 0;
      padding: 30px 0;
      li{
        display: inline-block;
        padding: 20px 10px;
        a{
          font: 400 15px 'Heebo', sans-serif;
          color: #fff;
          text-decoration: none;
          position: relative;
          &:after{
            content: '';
            width: 0;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -3px;
            -webkit-transition: all 0.3s; /* Safari */
            transition: all 0.3s;
          }
          &:hover{
            color: #fff;
            text-decoration: none;
            &:after{
              width: 100%;
              -webkit-transition: all 0.3s; /* Safari */
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

main{
  min-height: 100vh;
  section.hero{
    background-image: url('../img/hero.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 150px;
    min-height: 100vh;
    .title{
      color: #fff;
      svg{
        width: 50px;
        fill: #fff;
      }
      p.sub-title{
        font: 600 22px 'Montserrat', sans-serif;
        letter-spacing: 3px;
        margin: 20px 0 10px;
        color: #fff;
        text-transform: uppercase;
      }
      h1{
        position: relative;
        font: 600 72px 'Montserrat', sans-serif;
        // border-top: 2px solid #fff;
        // border-bottom: 2px solid #fff;
        display: inline-block;
        padding: 25px 35px;
        letter-spacing: 7px;
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          background-color: #fff;
          height: 2px;
        }
        &:after{
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          background-color: #fff;
          height: 2px;
        }
        &.ready{
          &:before,&:after{
            width: 100%;
            -webkit-transition: all 0.4s; /* Safari */
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

.box-white{
  width: 830px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 60px 100px;
  margin: -150px auto 200px;
  float: none;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
  .form-search-hotel{
    margin: 50px 0;
    label{
      font: 400 22px 'Heebo', sans-serif;
      color: #555555;
      display: block;
    }
    input{
      font: 400 16px 'Heebo', sans-serif;
      color: #b5b5b5;
      border: none;
      margin-bottom: 40px;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #b5b5b5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #b5b5b5;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #b5b5b5;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #b5b5b5;
      }
      &:focus{
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    button{
      background-color: #fff;
      border-radius: 50px;
      color: #f98100;
      border: 2px solid #f98100;
      font: 700 15px 'Heebo', sans-serif;
      padding: 10px 40px;
      max-width: 100%;
      -webkit-transition: all 0.3s; /* Safari */
      transition: all 0.3s;
      &.ready{
        background-color: #f98100;
        color: #fff;
      }
    }
    #date-range-container{
      width: 100%;
      border: none;
      background: none;
      .date-picker-wrapper{
        border: none;
        background: none;
        padding: 0;
        .caption {
            height: 60px;
            .next:hover, .prev:hover{
              background: transparent;
              color: #79bd1a;
            }
        }
        .month-wrapper {
          border: none;
          table {
              width: 100%;
              float: none;
              margin: 0 auto;
              border-top: 2px solid #e3e3e3;
              th{
                font: 400 15px 'Heebo', sans-serif;
                color: #b5b5b5;

              }
              .week-name{
                border-bottom: 2px solid #e3e3e3;
                height: 30px;
              }
              .month-name{
                font: 400 16px 'Heebo', sans-serif;
                color: #555;
              }
              .day{
                font: 400 15px 'Heebo', sans-serif;
                color: #555;
                padding: 12px 0;
                min-width: 45px;
                box-sizing: content-box;
                &.checked, &.hovering{
                  background-color: #79bd1a;
                  color: #fff;
                }
              }
              .first-date-selected{
                background-color: #79bd1a !important;
                border-radius: 50% 0 0 50%;
              }
              .last-date-selected{
                border: 2px solid #79bd1a !important;
                background-color: #fff !important;
                color: #79bd1a !important;
                border-radius: 50%;
              }
              .real-today{
                background-color: #fff;
              }
          }
        }
      }
    }
  }
  h2{
    font: 400 22px 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
  }
}

footer{
  text-align: center;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  font: 400 12px 'Heebo', sans-serif;
  color: #b5b5b5;
  .social-links{
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        svg{
          width: 30px;
          margin: 40px 20px;
          path, circle{
            fill:#F98100;
            -webkit-transition: all 0.3s; /* Safari */
            transition: all 0.3s;
          }
          &:hover{
            path, circle{
                fill: #555;
                -webkit-transition: all 0.3s; /* Safari */
                transition: all 0.3s;
            }
          }
        }
      }
    }
  }
  p{
    margin: 0 0 40px;
  }
}

/* FOCO NO TRABALHO DONA HENDY.*/
